/*-- scss:defaults --*/

/* Link Decoration */
$link-decoration: none;

/* Fonts */
$h1-font-size: 2.4rem !default;

h1 { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14.4px; }

h2 { font-family: proxima-nova, serif}

h3 { font-family: proxima-nova, serif; font-size: 14px; font-style: normal; font-variant: small-caps; font-weight: 400; line-height: 15.4px; }

h4 { font-family: proxima-nova, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 14px; font-style: italic; font-variant: normal !important; text-transform: none !important; font-weight: 400; line-height: 15.4px; }

p { font-family: proxima-nova, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 350;  line-height: 23px; color: #333; }

pre { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

/* Navigation Bar */

$navbar-padding-y: .3rem !default;

nav {
  width: 100%;
    li {
      display: inline;
      font-family: proxima-nova, Sans-Serif;
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
    }
  }


.nav-footer {
    display: inline-block !important ;
    flex-direction: row;
    flex-wrap: unset;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #fff;
}
